.minhasReservasContainer {
  max-width: 1440px;
  margin: 8rem auto;
}

.bookingDetailInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto;
}

.minhasReservasContainerHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.titleReservaDetail {
  display: flex;
  font-size: var(--h2-font-size);
  color: var(--text-color);
  margin-left: 1rem;
} 


/* ===========RESPONSIVE TABLET=========== */

@media only screen and (max-width: 768px) {
  .bookingDetailInfo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: auto;
  }
  
  .titleReservaDetail{
    margin-left: 2.5rem;
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
  }
  
}

/* ===========RESPONSIVE MOBILE=========== */
@media screen and (max-width: 576px) {
  .bookingDetailInfo {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

}