.titleForm {
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

.formReserva {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  border-radius: 10px;
  background-color: var(--bg-light-cyan);
  border: 1px solid var(--border-color);
}

.nome,
.sobrenome,
.email,
.cidade {
  font-size: var(--normal-font-size);
  padding-top: 1rem;
}

.inputDados {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid var(--border-color);
  outline: none;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.inputDados::placeholder {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

/* ===========RESPONSIVE MOBILE=========== */
@media screen and (max-width: 576px) {
  .formReserva {
    width: 100%;
    height: auto;
  }
  .titleForm {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .formReserva {
    width: 100%;
    height: auto;
  }
  .titleForm {
    margin-left: 1rem;
  }
}

/* ===========RESPONSIVE TABLET=========== */

@media screen and (min-width: 768px) {
  .formReserva {
    margin: 1rem;
    width: 680px;
    height: auto;
  }
}

/* ===========RESPONSIVE DESKTOP=========== */

@media screen and (min-width: 1024px) {
  .formReserva {
    margin: 1rem;
    width: 100%;
    height: auto;
  }

  .titleForm {
    margin-left: 1rem;
  }
}