.bookingTitleContainer{
  margin-left: 2rem;
}

.bookingTitle {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  padding-bottom: 1rem;
}

.booking {
  display: flex;
  justify-content: center;
  max-height: 100%;
  margin: 1rem ;
}

.boxBooking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 2rem 1rem;
  margin: 1rem 0.5rem;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  background: var(--text-color-light-cyan);
}

.bookingButton {
  width: 250px;
  height: 3rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: var(--bg-dark-cyan);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  border-radius: 0.25rem;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.bookingButton:hover {
  background-color: var(--text-color-dark-cyan);
  color: var(--white-color);
}

.textBoxBoking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
}



@media screen and (min-width: 1040px) {
  

  .dataRent {
    display: flex;
    gap: 1.5rem;
    width: 92%;
    padding: 1rem;
    /* margin: 1rem 0; */
    color: var(--text-color-dark-cyan);
    border-radius: 1rem;
  }

  .calendarRent {
    border-radius: 1rem;
    margin: auto;
    width: 30px;
    height: 17rem;
    font-size: 12px;
    color: var(--text-color-dark-cyan);
  }

  .calendarBack {
    border-radius: 1rem;
    margin: auto;
    width: 30px;
    height: 17rem;
    font-size: 12px;
    color: var(--text-color-dark-cyan);
  }

  

  .textCenter {
    /* display: flex; */
    gap: 1rem;
    font-size: var(--small-font-size);
  }
}
/* ===========RESPONSIVE TABLET=========== */

@media only screen and (max-width: 768px) {
  .booking {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    max-height: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .bookingTitleContainer{
    margin: 2rem 0 0 1rem;
  }
  
  .dataRent {
    width: 95%;
    margin: 1rem 0;
  }

  .calendarRent {
    margin: auto;
    width: 30px;
    height: 17rem;
    font-size: 12px;
  }

  .calendarBack {
    margin: auto;
    width: 30px;
    height: 17rem;
    font-size: 12px;
  }

  .boxBooking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2rem 5rem;
    margin: 1rem auto;
    max-width: 90%;
    height: auto;
    
  }

  .bookingButton {
    width: 100%;
    align-self: center;
    margin: 2rem 0;
  }

}

/* ===========RESPONSIVE MOBILE=========== */
@media screen and (max-width: 480px) {
  .booking {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    margin-top: 3rem;
  }

  .bookingTitleContainer{
    margin-left: 2rem;
  }

  .dataRent {
    width: 95%;
    margin: 0 auto;
  }

  .calendarBack {
    display: none;
  }

  .boxBooking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 90%;
    height: auto;
    
  }

  .bookingButton {
    width: 100%;
    align-self: center;
    margin: 2rem 0;
  }



}
