
@media screen and (min-width: 1040px) {
.booking {
  display: grid;
  grid-template-columns: [calendar] 2fr [button] 1fr;
  width: 90%;
  max-height: 90%;
  margin: auto;
  margin-top: 30px;
}

h1 {
  margin: 20px 0 0px 43px;
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.dataRent {
  display: flex;
  grid-column: calendar;
  gap: 1.5rem;
  width: 92%;
  padding: 20px;
  margin: 5px 0px 0px 23px;
  
}

.boxBooking {
  display: grid;
  grid-column: button;
  align-items:  center;
  justify-items: center;
  padding: 0.5rem;
  margin-top: 50px;
  margin-left: -8%; 
  max-width: 100%;
  height: 60%;
  border-radius: .7rem;
  box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
  background: var(--text-color-light-cyan);
}

p {
  text-align:  justify;
  padding: 0.5rem;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.button {
  width: 20.8rem;
  height: 3rem;
  background-color: var(--bg-light-cyan);
  color: var(--text-color-dark-cyan);
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-size: var(--normal-font-size);
  font-weight: bold;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--bg-dark-cyan);
  color: var(--white-color);
}

.textCenter {
  display: flex;
  gap: 1rem;
  font-size: var(--smaller-font-size);
}
}
/* ===========RESPONSIVE TABLET=========== */

@media only screen and (max-width: 768px) {
  .booking {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* width: 770px; */
    max-height: 100%;
    height: 548px;
    margin-top: 0px; 
  }

  h1 {
    margin: 15px 0 15px 30px;
    font-size: var(--h1-font-size);
    color: var(--title-color);
  }

  .dataRent {
    display: flex;
    gap: .5rem;
    width: 95%;
    height: 55%;
    margin: auto;
  }
  
  .calendarRent {
    margin: auto;
    width:30px;
    height:17rem;
    font-size: 12px;

  }

  .calendarBack  {
    margin: auto;
    width:30px;
    height:17rem;
    font-size: 12px;

  }

  .boxBooking {
    display: inline; 
    align-items:  center;
    justify-items: center; 
    text-align: center;
    padding: 0.5rem;
    margin: 20px auto 55px; 
    max-width: 90%;
    height: 25%;
    border-radius: .7rem;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
    background: var(--text-color-light-cyan);
  }

  p {
    text-align:  justify;
    padding: 0.8rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
  }

  .button {
    width: 25rem;
    height: 2rem;
    background-color: var(--bg-light-cyan);
    color: var(--text-color-dark-cyan);
    padding: .5rem 1rem;
    border-radius: .25rem;
    
    font-size: var(--small-font-size);
    font-weight: bold;
    transition: .4s ease-in-out;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--bg-dark-cyan);
    color: var(--white-color);
  }
  
  }


/* ===========RESPONSIVE MOBILE=========== */
@media screen and (max-width: 480px) {
  .booking {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* width: 480px; */
    max-height: 100%;
    /* height: 545px; */
    margin-top: 0px; 
    /* background: red; */
  }

  h1 {
    margin: 15px 0 0 25px;
    font-size: var(--h2-font-size);
    color: var(--title-color);
  }

  .dataRent {
    width: 95%;
    height: 60%;
    margin: 0px auto;
    /* background:green; */
  }
  
  .calendarBack {
    display: none;

  }

  .boxBooking {
    align-items:  center;
    justify-items: center; 
    padding: 0.5rem;
    margin: 5px auto; 
    max-width: 88%;
    height: 30%;
    border-radius: .7rem;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
    background: var(--text-color-light-cyan);
  }

  p {
    text-align:  justify;
    padding: 0.5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
  }

  .button {
    width: 20rem;
    height: 2rem;
    background-color: var(--bg-light-cyan);
    color: var(--text-color-dark-cyan);
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-size: var(--small-font-size);
    font-weight: bold;
    transition: .3s ease-in-out;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--bg-dark-cyan);
    color: var(--white-color);
  }
  
  }

