.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--normal-font-size);
  /* margin: 3% 0 3% 0 ; */
  margin: 12rem auto;
}

.textLogin {
  text-align: center;
  padding-bottom: 20px;
}

.container {
  align-self: center;
  padding: 20px;
  width: 600px;
  background-color: var(--bg-light-cyan);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.formGroup {
  margin-bottom: 20px;

}

label {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 5px;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border:none;
  border-radius: 5px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btnLogin {
  background-color: var(--bg-dark-cyan);
  border: none;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.btnLogin:hover {
  background-color: var(--text-color-dark-cyan);
}

.formControl {
  font-family: system-ui, sans-serif;
  font-size: var(--normal-font-size);
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.formCheckbox {
  width: 20px;
  margin-right: 10px;
}

.registerLink {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.formError {
  color: red;
}

.checkbox{
  display: flex;
  text-align: right;
  justify-content: space-between;
  font-size: 14px;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 575px) {
  .loginPage {
  margin: 2rem;
  height: 100%;
}
  .container{
   padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .loginPage {
    margin: 4rem;
    height: 57vh;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .loginPage {
    margin: 12rem auto 5rem;
  }
}


