.titleReservaHorario {
  font-size: var(--h3-font-size);
  color: var(--bg-dark-cyan);
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.horaMarcar {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--bg-light-cyan);
  border: 1px solid var(--border-color);
  }

  .textReservaHorario {
    font-size: var(--normal-font-size);
    color: var(--bg-dark-cyan);
  }

  .icon {
    font-weight: bold;
    margin-right: 1rem;
  }

  .containerHoras {
    display: flex;
    align-items: center;
  }

  .selectHorario {
    margin: 1rem 0;
    width: 300px;
    height: 50px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semibold);
    color: var(--text-color-dark-cyan);
  }

/* ===========RESPONSIVE MOBILE=========== */
@media screen and (max-width: 576px) {
  .titleReservaHorario {
    font-size: var(--h2-font-size);
    color: var(--bg-dark-cyan);
    margin: 2rem 0 0 1rem;
  }

  .horaMarcar {
  margin: 1rem;
  width: 90%;
  height: auto; 
  }
  .container {
    display: flex;
  }

}

@media screen and (max-width: 767px) {
  .horaMarcar {
    margin: 1rem;
    width: 90%;
    height: auto; 
    }
}

/* ===========RESPONSIVE TABLET=========== */

@media screen and (min-width: 768px) {
  .horaMarcar {
    margin: 2rem 1rem;
    width: 680px;
    height: auto;
    padding: 1rem;
  }

  .titleReservaHorario {
    margin-bottom: 1rem;
  }

}

/* ===========RESPONSIVE DESKTOP=========== */

@media screen and (min-width: 1024px) {

  .titleReservaHorario {
    margin-bottom: 1rem;
  }

  .horaMarcar {
  margin: 2rem 0;
  width: 100%;
  height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .titleReservaHorario {
    margin-bottom: 2rem;
  }
}