.category {
  max-width: 1440px;
  margin: 3rem auto 3rem;
}

.categoryTitle {
  display: flex;
  align-items: center;
  font-size: var(--h3-font-size);
  color: var(--text-color-dark-cyan);
}

.categoryTitleIcon {
  margin: 0 0.5rem;
}

.categoryCard {
  display: flex;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cardContainer {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  margin-top: 1rem;
  color: var(--text-color-dark-cyan);
}

.cardTitle {
  display: flex;
  align-items: center;
  font-size: var(--h3-font-size);
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.categoryList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardCategoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 576px) {
  .cards {
    margin: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .categoryCard {
    display: flex;
    max-width: 750px;
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .category {
    margin-top: 4rem;
    display: block;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .cards {
    margin: 2rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .category {
    margin: 7rem 1rem;
  }

  .categoryList {
    width: 100%;
  }

}

/* For large devices */
@media screen and (min-width: 1040px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .category {
    margin: 2rem auto 3rem;
    
  }
}
