.footer {
  width: 100%;
  background-color: var(--bg-dark-cyan);
  margin-top: 1rem;
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  padding: 1rem;
}

.copy {
  font-size: var(--smaller-font-size);
  color: var(--white-color);
  text-align: center;
  padding-bottom: 2rem;
}

.listMidias {
  display: flex;
  align-items: center;
  gap: 2rem;
  order: 2;
}

.linkIcon {
  font-size: var(--h3-font-size);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.linkIcon:hover {
  transform: translateY(-0.5rem);
}

.logoFooter{
  width: 150px;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    gap: 2rem;
    color: var(--white-color);
    padding: 2rem 0;
  }

  .copy {
    order: 1;
  }
}
