.containerReserva {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'form bloco'
    'calendario bloco'
    'horario bloco';
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  height: auto;
  margin: 4rem auto 0;
  align-items: start;
  justify-content: center;
  max-width: 1440px;
}
.formulario {
  grid-area: form;
}

.titleReserva{
  margin: 8rem auto 2rem;
  max-width: 1440px;
  font-weight: var(--font-regular);
  font-size: var(--h2-font-size);
  color: var(--text-color-dark-cyan);
  letter-spacing: 1px;
  border-bottom: 1px solid var(--border-color);
}

.calendar {
  grid-area: calendario;
}

.calendar h2 {
  font-size: var(--h3-font-size);
  color: var(--bg-dark-cyan);
  margin: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}

.horas {
  grid-area: horario;
}

.blocoReserva {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  align-self: start !important;
}

/* For small devices */
@media screen and (max-width: 576px) {
  .containerReserva {
    display: flex;
    flex-direction: column;
  }

  .bloco{
    order: 5;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .containerReserva {
    display: flex;
    flex-direction: column;
  }

  .bloco{
    order: 5;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .containerReserva {
    display: grid;
  }
}