.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  z-index: var(--z-fixed);
  background-color: var(--white-color);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1440px;
}

.logo {
  max-width: 200px;
  height: auto;
  padding: 0.5rem 0;
}

.loginLink {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semibold);
  display: flex;
  align-items: center;
}

.headerIcon {
  font-size: var(--h2-font-size);
  margin: 0 0.5rem;
}

.logo:hover,
.loginLink:hover {
  color: var(--text-color-dark-cyan);
}

.navList {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLink {
  color: var(--text-color);
  font-size: 1rem;
}
.navLink:hover {
  color: var(--text-color-dark-cyan);
}

.navLink_button {
  display: inline-block;
  background-color: var(--bg-dark-cyan);
  color: var(--white-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  border: none;
}

.navLink_button:hover {
  background-color: var(--text-color-dark-cyan);
}

.navContainer {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.navMenuList {
  display: flex;
  justify-content: end;
  align-items: center;
  height: var(--header-height);
  width: 70%;
  margin-right: 2rem;
}

.navName {
  display: flex;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--bg-dark-cyan);
}

.navName p {
  margin: 0 0.5rem;
}

.navName p:first-child {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-weight: var(--font-semibold);
  background-color: #fff;
  text-align: center;
  padding-top: 0.7rem;
  border: 2px solid var(--border-color);
  cursor: pointer;
}

.navMenuList ul {
  display: flex;
  gap: 2rem;
}

.avatarDropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  top: 55px;
  right: -100px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  width: 225px;
  height: auto;
  list-style: none;
}

.dropdownMenu li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem 0 0.5rem;
  font-size: var(--normal-font-size);
  color: var(--bg-dark-cyan);
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: var(--text-color-light-cyan);
}

.menuIcon {
  margin-right: 0.5rem;
  font-size: var(--h3-font-size);
}

.menuLink {
  color: var(--bg-dark-cyan);
  display: flex;
  align-items: center;
  justify-content: start;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 576px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
  }

  .headerContainer {
    margin-left: 1rem;
  }

  .logo {
    margin-left: 1rem;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .dropdownMenu {
    right: -40px;
    top: 65px;
  }

  .navMenuList {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .navMenuList ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1039px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
  }

  .headerLogo {
    margin-left: 1rem;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .dropdownMenu {
    right: -15px;
    top: 50px;
  }

  .navMenuList {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }

  .navMenuList ul {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
  }

  .navContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: end;
    position: relative;
    align-items: center;
    margin: 0 auto;
    width: 1400px;
  }

  .navMenuList ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8rem;
    /* flex-direction: row-reverse; */
  }

  .navSearch {
    width: 100%;
  }
}
