.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 2rem 2rem;
  z-index: var(--z-fixed);
  background-color: var(--white-color);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.headerLogo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semibold);
  color: var(--title-color);
  transition: all 0.3s ease;
}

.loginLink {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semibold);
  display: flex;
  align-items: center;
}

.headerIcon {
  font-size: var(--h2-font-size);
  margin: 0 0.5rem;
}

.logo:hover,
.loginLink:hover {
  color: var(--text-color-dark-cyan);
}

.navList {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 2rem;
}

.navLink {
  color: var(--text-color);
  font-size: 1rem;
}
.navLink:hover {
  color: var(--text-color-dark-cyan);
}

.navLink_button {
  display: inline-block;
  background-color: var(--bg-dark-cyan);
  color: var(--white-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  border: none;
}

.navLink_button:hover {
  background-color: var(--text-color-dark-cyan);
}

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 1440px;
}

.navMenuList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--header-height);
  width: 100%;
}

.navName {
  display: flex;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--bg-dark-cyan);
}

.navName p {
  margin: 0 0.5rem;
}

.navName p:first-child{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-weight: var(--font-semibold);
  background-color: #fff;
  text-align: center;
  padding-top: 0.7rem;
  border: 2px solid var(--border-color);
  cursor: pointer;
}

.navMenuList ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.avatarDropdown {
  position: relative;
}



.dropdownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 55px;
  right: 30px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  width: 150px;
  height: auto;
  list-style: none;
}

.dropdownMenu li {
  display: flex;
 align-items: center;
 justify-content: flex-start;
  
  padding: 0 1rem 0 0.5rem;
  font-size: var(--small-font-size);
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: var(--text-color-light-cyan);
}

.menuIcon {
  margin-right: 0.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 576px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
  }

  .headerLogo {
    margin-left: 1rem;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .navMenuList {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .navMenuList ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1039px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
  }

  .headerLogo {
    margin-left: 1rem;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .navMenuList {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }

  .navMenuList ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
  }

  .navContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
  }

  .navSearch {
    width: 100%;
  }
}
