.dashScreens {
  max-width: 1440px;
  margin: 2rem 0;
  padding: 2rem 4rem;
  background-color: var(--bg-light-cyan);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.reservaTable {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-collapse: collapse;
  width: auto;
  margin: 2rem 0;
  color: var(--text-color);
}

.reservaTable th {
  width: 200px;
  padding: 0 1rem;
}

.reservaDataTable {
  display: block;
  margin: 0.5rem 0;
  text-align: center;
}

.reservaDataTable td {
  width: 200px;
}

.caracteristicaTable {
  text-align: left;
  width: 100%;
  margin: 1rem;
}

.caracteristicaDataTable {
  text-align: left;
  margin: 0.5rem;
}

.caracteristicaDataTable td, .cidadeDataTable td, .frotaDataTable td, .reservaDataTable td, .userDataTable td {
  line-height: 2rem;
  padding: 1rem;
}

.frotaDataTable td {
  text-align: center;
}

thead tr:nth-child(even) {
  background:
  #7faccb;
  }

.cidadeTable {
  text-align: left;
  width: 100%;
  margin: 1rem 0;
}

.frotaTable {
  width: 100%;
  margin: 1rem 0;
}

.dashTableTr th {
  text-align: center;
  padding-right: 1rem;
}

.frotaDataTable td {
  padding: 1rem;
}

.boxCaracteristica {
  display: flex;
  margin: 2rem 1rem;
}

.dashContainerTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  margin: 2rem 0 2rem 0.5rem;
}

.dashContainerTitle p {
  font-size: var(--h2-font-size);
  color: var(--text-color-dark-cyan);
  font-weight: var(--font-semibold);
}

.inputCaracteristica1,
.inputCaracteristica2 {
  border: 1px solid var(--border-color);
  -webkit-appearance: none;
  appearance: none;
}

.inputCaracteristica1 {
  margin-right: 1rem;
  max-width: 300px;
}
.inputCaracteristica2 {
  margin-left: 1rem;
  max-width: auto;
}

.containerCidade {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.boxCidade,
.boxCarro,
.boxReserva {
  display: flex;
  margin: 1.5rem 1rem 1rem 0;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.inputCidade1,
.inputCidade2 {
  border: 1px solid var(--border-color);
  -webkit-appearance: none;
  appearance: none;
}

.inputCidade1 {
  margin-right: 0.5rem;
  max-width: 200px;
}
.inputCidade2 {
  margin-left: 0.5rem;
  max-width: 150px;
}

.boxCarro {
  display: flex;
  justify-content: space-between;
  -webkit-appearance: none;
  appearance: none;
  margin-top: 2rem;
}

.inputCarroNome,
.inputCarroVin,
.inputCarroCidade,
.inputCarroCategoria,
.inputCarroDescricao,
.inputReservaNome,
.inputReservaSobrenome,
.inputReservaCarro,
.inputReservaHora,
.inputReservaInicio,
.inputReservaFinal {
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
  border: 1px solid var(--border-color);
  color: var(--text-color-dark-cyan);
  outline: none;
}

.inputCarroNome,
.inputCarroVin,
.inputCarroCidade {
  width: 200px;
}

.inputCarroCategoria {
  width: 100px;
}

.inputCarroDescricao {
  width: 500px;
}

.btnIncluirCarro {
  background-color: var(--bg-dark-cyan);
  color: #fff;
  font-size: var(--small-font-size);
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnIncluirCarro:hover {
  background-color: var(--text-color-dark-cyan);
}

.btnBottom {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}

.dashIncluirCaracteristica {
  margin-top: 2rem;
  float: left;
  background-color: var(--bg-light-cyan);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 2rem;
}

.dashIncluirCaracteristica p {
  padding: 0 1rem 1rem 1.5rem;
}

.userTable {
  width: 100%;
  margin: 1rem 0;
}

.userDataTable td {
  padding: 1rem;
  text-align: center;
}

.tableSelect {
  font-family: 'Poppins', sans-serif;
  width: 100px;
  padding: 0.25rem;
  border: 1px solid var(--border-color);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  outline: none;
}

.tableIcon {
  font-size: var(--h3-font-size);
  color: rgb(225, 72, 72);
  cursor: pointer;
  border: none;
}

.dashCadastrarCidadeContainer p {
  margin: 4rem 0 2rem 0.5rem;
  font-size: var(--h3-font-size);
  color: var(--bg-dark-cyan);
  border-bottom: 1px solid var(--border-color);
}

.dashBoxCadastrarCidade {
  background-color: var(--bg-light-cyan);
  width: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.dashCadastrarCidade {
  display: flex;
  align-items: center;
  margin: 2rem 3rem 2rem 3.5rem;
}

.dashCadastrarCidade input {
  width: 300px;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  outline: none;
}

.dashCadastrarCidade button {
  padding: 0.6rem 1.5rem;
  background-color: var(--bg-dark-cyan);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.dashCadastrarCidade button:hover {
  background-color: var(--text-color-dark-cyan);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 576px) {
  .dashScreens {
    max-width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }

  .dashContainerTitle p {
    font-size: var(--h3-font-size);
  }

  .reservaTable {
    width: auto;
    margin: 1rem 0;
  }

  .reservaTable th {
    width: 100px;
    padding: 0 0.5rem;
    font-size: var(--small-font-size);
  }

  .reservaDataTable {
    display: block;
    margin: 0.5rem 0;
    text-align: center;
  }

  .reservaDataTable td {
    width: 100px;
    font-size: var(--small-font-size);
  }

  .containerCidade {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .dashCadastrarCidade {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .dashCadastrarCidade input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.3rem 0.5rem;
  }

  .dashCadastrarCidade button {
    width: 40%;
    margin-top: 1rem;
  }

  .userTable {
    width: 100%;
    margin: 1rem 0;
  }

  .userTable th {
    font-size: var(--small-font-size);
  }

  .userDataTable td {
    padding: 1rem 0.5rem 0 0;
    text-align: center;
    word-break: break-all;
    font-size: var(--small-font-size);
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .dashContainerTitle p {
    font-size: var(--h3-font-size);
  }
  .dashScreens {
    max-width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }

  .reservaTable {
    width: auto;
    margin: 1rem 0;
  }

  .reservaTable th {
    width: 150px;
    padding: 0 0.5rem;
    font-size: var(--small-font-size);
  }

  .reservaDataTable {
    display: block;
    margin: 0.5rem 0;
    text-align: center;
  }

  .reservaDataTable td {
    width: 150px;
    font-size: var(--smaller-font-size);
  }

  .containerCidade {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .dashCadastrarCidade {
    display: flex;
    margin: 2rem 1rem 2rem 2rem;
  }

  .dashCadastrarCidade input {
    width: 50%;
    margin-right: 1rem;
    padding: 0.3rem 0.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .dashScreens {
    max-width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }

  .reservaTable {
    width: auto;
    margin: 1rem 0;
  }

  .reservaTable th {
    width: 200px;
    padding: 0 1rem;
    font-size: var(--normal-font-size);
  }

  .reservaDataTable {
    display: block;
    margin: 1rem 0;
    text-align: center;
  }

  .reservaDataTable td {
    width: 200px;
    font-size: var(--normal-font-size);
  }

  .dashBoxCadastrarCidade {
    width: 50%;
  }
  .dashCadastrarCidade {
    display: flex;
    margin: 2rem 1rem 2rem 2rem;
  }

  .buttonAdd{
    margin-left: 4px;
    padding: 0.5rem 0.5rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--bg-dark-cyan);
    color: var(--white-color);
    border-radius: 0.25rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
