.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* For small devices */
@media screen and (max-width: 575px) {
  .card {
    max-width: 350px;
    max-height: 550px;
    border-radius: 1rem;
    background-color: var(--bg-light-cyan);
    margin: 2rem 0;
    border: 1px solid var(--border-color);
  }

  .image {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 1rem auto;
    transition: all 0.3s ease-out;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .card {
    width: 450px;
    max-height: 550px;
    border-radius: 1rem;
    background-color: var(--bg-light-cyan);
    margin: 2rem 0.5rem;
    border: 1px solid var(--border-color);
  }

  .image {
    width: 350px;
    height: auto;
    position: relative;
    margin: 1rem auto;
    transition: all 0.3s ease-out;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .card {
    width: 350px;
    max-height: 550px;
    border-radius: 1rem;
    background-color: var(--bg-light-cyan);
    margin: 2rem;
    border: 1px solid var(--border-color);
  }

  .image {
    width: 350px;
    height: auto;
    position: relative;
    margin: 1rem auto;
    transition: all 0.3s ease-out;
  }
}

.title {
  font-size: var(--h3-font-size);
  padding-left: 2rem;
  color: var(--text-color-dark-cyan);
}

.subtitle {
  font-size: var(--text-small);
  padding: 1rem 2rem 0.3rem;
  color: var(--text-color-dark-cyan);
}

.image {
  width: 400px;
  height: auto;
  position: relative;
  margin: 1rem auto;
  transition: all 0.3s ease-out;
}

.image:hover {
  transform: translateY(-0.5rem);
}

.description {
  padding: 2rem 1.5rem 2rem 2rem;
  font-size: var(--small-font-size);
  color: var(--text-color-dark-cyan);
  flex-wrap: wrap;
}

.btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btnCard {
  display: inline-block;
  background-color: var(--bg-dark-cyan);
  color: var(--white-color);
  padding: 2rem 2rem;
  font-size: var(--h2-font-size);
  border: none;
  outline: none;
  padding: 0.75rem 2rem;
  position: relative;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
  transition: 0.3s;
}

.btnCard:hover {
  background-color: var(--text-color-dark-cyan);
}

.btnCardIcon {
  transition: all 0.3s ease-out;
}
.btnCardIcon:hover {
  transform: translateX(0.4rem);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 575px) {
  .cardContainer {
    width: 100%;
    max-height: 550px;
    border-radius: 1rem;
    background-color: var(--bg-light-cyan);
    margin: 2rem;
    border: 1px solid var(--border-color);
  }

  .image {
    max-width: 250px;
    height: auto;
  }

  .description {
    padding: 2rem 1.5rem;
  }

  .btn {
    grid-area: b;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90% 10%;
    grid-template-areas:
      'i d'
      'b b';
    width: 500px;
    height: 500px;
    border-radius: 1rem;
    background-color: var(--bg-light-cyan);
    margin: 1rem;
    border: 1px solid var(--border-color);
  }

  .image {
    width: 250px;
    height: auto;
  }

  .btn {
    grid-area: b;
  }
}

@media screen and (min-width: 767px) {
  .cardContainer {
    width: 550px;
    max-height: 550px;
    border-radius: 1rem;
    background-color: var(--bg-light-cyan);
    margin: 2rem;
    border: 1px solid var(--border-color);
  }

  .image {
    width: 400px;
    height: auto;
  }

  .btn {
    grid-area: b;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90% 10%;
    grid-template-areas:
      'i d'
      'b b';
    width: 450px;
    height: 350px;
    border-radius: 1rem;
    background-color: var(--bg-light-cyan);
    margin: 2rem 0;
    border: 1px solid var(--border-color);
  }

  .image {
    max-width: 250px;
    height: auto;
    position: relative;
    padding: 2rem 1rem;
    transition: all 0.3s ease-out;
  }

  .btn {
    grid-area: b;
  }
}
