.boxSearch {
  display: flex;
  align-items: center;
  max-width: 1440px;
  background-color: var(--bg-dark-cyan);
  border-radius: 0px 0px 10px 10px;
}

.search {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  font-family: 'Poppins';
}

.searchInput {
  font-family: 'Poppins', sans-serif;
  height: 3rem;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
}

.optionHide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.inputCidade,
.inputDataRange {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

.inputIcon {
  background-color: #fff;
  font-size: var(--h2-font-size);
  color: var(--bg-dark-cyan);
  text-align: center;
  margin: 0 1rem;
}

.searchInputData {
  height: 3rem;
  border-radius: 5px;
  font-size: var(--normal-font-size);
  font-family: 'Poppins';
  outline: none;
  border: none;
}

.searchBtn {
  display: flex;
  padding: 0.8rem 1rem;
  margin: 1px 0;
  font-size: var(--h3-font-size);
  border-radius: 5px;
  color: var(--bg-dark-cyan);
  background-color: white;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.searchBtn:hover {
  background-color: var(--bg-light-cyan);
}

.boxList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  width: 100%;
}

.inputDate {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  border-radius: 3px;
  height: 3rem;
  padding: 0.5rem;
  font-size: var(--normal-font-size);
  outline: none;
}

.calendarPicker {
  position: absolute;
  top: calc(20% - 15px);
  width: 500px;
  font-size: var(--small-font-size);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.btnText {
  font-size: var(--h3-font-size);
  margin-left: 0.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 575px) {
  .boxSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8rem 1rem 2rem;
    padding: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
  }

  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins';
    
  }

  .inputCidade, .inputDataRange {
    width: 300px;
  }

  .inputDate {
    display: flex;
    align-items: center;
  }
  
  .calendarPicker {
    position: absolute;
    top: calc(32% - 20px);
    left: 1rem;
    width: 375px;
    z-index: 1000;
  }

  .searchBtn {
    padding: 0.75rem 1rem;
    margin: 1px 0;
    justify-content: center;
    max-width: 150px;
    align-self: flex-end;
  }

  .inputDate, .searchInput {
    width: 220px; 
  }

  .calendarPicker {
    position: absolute;
    top: calc(30% - 30px);
    left: 5rem;
    width: 300px;
  }
}


@media screen and (max-width: 764px) {
  .boxSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 1rem 1rem;
    padding: 2rem;
    border-radius: 10px;
  }

  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .searchBtn {
    padding: 0.75rem 1rem;
    margin: 1px 0;
    justify-content: center;
    max-width: 150px;
    align-self: flex-end;
  }

  .inputDate, .searchInput {
    width: 220px; 
  }

  .calendarPicker {
    position: absolute;
    top: calc(32% - 30px);
    left: 10rem;
    width: 420px;
  }
}

@media screen and (min-width: 765px) {
  .boxSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--header-height);
    padding: 1rem;
  }


  .searchInputData {
    width: 100%;
  }

  .inputDate, .searchInput {
    width: 220px; 
  }

  .calendarPicker {
    position: absolute;
    top: calc(23% - 33px);
    left: 20rem;
    width: 425px;
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .boxSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    padding: 20px;
  }

  .searchInputData {
    width: 200px;
  }

  .inputDate, .searchInput {
    width: 250px; 
  }

  .calendarPicker {
    position: absolute;
    top: calc(22% - 25px);
    left: 42rem;
    width: 500px;
  }
}


/* For x-large devices */
@media screen and (min-width: 1441px) {
  .searchInput {
    width: 300px;
  }

  .inputDate {
    display: flex;
    align-items: center;
    width: 300px; 
  }

  .calendarPicker {
    position: absolute;
    top: calc(20% - 10px);
    left: 54rem;
    width: 500px;
  }
}
