.boxSearch {
  display: flex;
  align-items: center;
  
  width: 60rem;
  height: 7rem;
  margin: auto;
  padding: 20px;
  background-color: var(--bg-dark-cyan);
  border-radius: 0px  0px 10px 10px;
}

.search {
  display: flex;
  gap: 1.5rem;  
  justify-content: space-between;
  margin: auto;
  
}

.searchInput {
  width: 25rem;
  height: 3rem;
  border-radius: 5px;
  padding: .5rem;
  font-size: var(--normal-font-size);
  font-family: 'Poppins';
  outline: none;
}

.searchInputData {
  height: 3rem;
  border-radius: 5px;
  padding: .5rem;
  font-size: var(--normal-font-size);
  font-family: 'Poppins';
  outline: none;

}


.searchBtn {
  display: flex;
  padding:  0 1rem;
  margin: 1px 0;
  font-size: var(--h3-font-size);
  border-radius: 5px;
  color: var(--bg-dark-cyan);
  background-color: white;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;

}





.boxList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  width: 100%;
}