.calendar {
    border: 1px solid var(--border-color);
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--bg-light-cyan);
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 576px) {
    .calendar{
        display: flex;
        max-width: 95%;
        margin: 0 0.5rem;
    }
}